/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 20px;
    background:
        linear-gradient(to left, 
            rgba(12, 30, 39, 1) 10%,
            rgba(12, 30, 39, 0.7) 45%,
            rgba(12, 30, 39, 0.4) 60%),
        url("Login.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% center;
}

/* Responsive adjustment for large screens */
@media screen and (min-width: 1200px) {
    body {
        justify-content: flex-end;
        padding-right: 150px;
    }
}

/* Container styling */
.signup-container {
    background: #0B1D26;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: left;
    width: 400px;
    height: 500px;
}

/* Title styling */
h1 {
    color: white;
    margin-bottom: 20px;
}

/* Input styling */
input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    background: #173342;
    color: white;
    outline: none;
}

input::placeholder {
    color: #b0c4de;
}

/* Button group styling */
.button-group {
    display: flex;
    justify-content: end;
    margin-top: 10px;
    gap: 10px;
}

/* Content spacing */
.content {
    padding-top: 50px;
}

/* Button styling */
button {
    width: 25%;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

.register {
    background: #115E85;
    color: white;
}

.login {
    background: #6199B5;
    color: white;
}

/* Forgot password link */
.forgot-password {
    display: block;
    margin-top: 15px;
    color: #757272;
    text-decoration: none;
    font-size: 14px;
}

.forgot-password:hover {
    text-decoration: underline;
}

@media (max-width: 768px){
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background:
            linear-gradient(to left, 
                rgba(12, 30, 39, 1) 10%,
                rgba(12, 30, 39, 0.7) 45%,
                rgba(12, 30, 39, 0.4) 60%),
            url("Login.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .signup-container{
        width: 100%;
        max-width: 350px;
        padding: 30px;
        text-align: center;
    }

    button{
        width: 48%;
    }
}

@media (max-width: 480px){
    body{
        background-size: cover;
        background-position: 0px;
    }
    .signup-container{
        width: 100%;
        padding: 20px;
    }

    button{
        width: 100%;
        margin-bottom: 10px;
    }
}
